@(workouts: List[Workout])(implicit lang: Lang)

@main(Messages("application.name")) {

    <dl class="workouts">
        @for(workout <- workouts) {
            <dt>@workout.distance</dt>
            <dd>@workout.summary</dd>
        }
    </dl>
}