@(workouts: List[Workout], workoutForm: Form[String])


@import helper._

@main("Workout  List") {
    
    <h1>@workouts.size workout(s)</h1>

    <ul>
        @workouts.map { workout =>

            <li>
                @workout.workoutType

                @form(routes.Application.deleteWorkout(workout.id)) {
                    <input type="submit" value="Delete"/>
                }
            </li>

        }
    </ul>

    <h2>Add a new workout</h2>

    @form(routes.Application.newWorkout) {

        @inputText(workoutForm("workoutType"))

        <input type="submit" value="Create"/>
    }
    
}